# Ignore everything
*

# Except
!.gitignore
!Main.java
!minijava.jj
!Main.java
!Makefile
!SymbolTable.java
!MiniJavaDatatype.java
!DatatypeMapper.java
!Class.java
!SymbolTableVisitor.java
!Method.java